.header{
    &__items{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 52px 0 52px 0;
    }

    &__link{
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 150%;
        align-items: center;
        text-transform: uppercase;
        color: $main-black;
    }

    &__tel{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 150%;
        align-items: center;
        text-transform: uppercase;
        color: $main-black;
    }

    &__socials{
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 150%;
        align-items: center;
        color: rgba(52, 52, 52, 0.7);
        outline: 0;
        appearance: none;
        border: none;
        width: 39px;
        background-image: url(./../images/down_arrow.png);
        background-position: center right;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    &__mobile{
        display: none;
    }
}

@media only screen and (max-width: 376px){

    .container{
        margin: 0;
    }
    .header{
        &__desktop{
            display: none;
        }
        
        &__mobile{
            display: block;
            &_container{
                padding: 14px 15px 31px 15px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
        &__hamburger{
            background: transparent;
            outline: 0;
            border: 0;
        }
    }

}